@import "../../config/globalStyles.scss";
@import "../../config/utils";

.mainContainer .aboutSection {
  // background-image: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.5)),
  //   url('../../asset/wave.gif');
  background-size: cover;
  padding-top: 0;
  position: relative;

  .aboutBackVideo {
    position: absolute;
    z-index: -100;
    margin-left: toSize(-100);
    filter: brightness(50%);

    .aboutWave {
      z-index: -100;
    }
  }

  .aboutMe {
    font-family: "LEMON MILK";
    font-size: toSize(350);
    font-weight: 700;
    text-wrap: nowrap;
    position: relative;
    left: toSize(-170);
    -webkit-text-stroke: 2px white;
    color: transparent;
    margin: 0;
  }

  .aboutContent {
    display: grid;
    grid-template-columns: toSize(1080) toSize(640);
  }

  .aboutOverviewTitle,
  .aboutSkillTitle {
    font-family: "crima";
    font-size: toSize(22);
    margin: toSize(16) 0;
  }

  .aboutSkillTitle {
    margin-top: toSize(70);
  }

  .overviewContent,
  .skillContent {
    font-family: "PyeongChang";
    font-size: toSize(20);
    line-height: 160%;

    span {
      text-decoration-line: underline;
      font-weight: 700;
      transition: color 0.3s ease;
      &:hover,
      &:checked {
        color: #5ca79c;
      }
    }
  }

  .skillContent {
    display: flex;

    .skills {
      margin-left: toSize(56);
    }
  }

  .aboutPics {
    display: flex;
    justify-content: center;
  }

  .aboutGif {
    width: toSize(500);
    height: toSize(250);
    border-radius: 999px;
  }

  .visible {
    display: block;
  }
  .hidden {
    visibility: hidden;
  }

  @mixin aboutMedia {
    grid-template-rows: 30vh auto;
    .aboutText {
      grid-column: 1/3;
      order: 2;
    }
    .aboutPics {
      grid-column: 1/3;
      height: 30vh;
    }

    .overviewContent,
    .skillContent {
      span {
        text-decoration-line: underline;
        font-weight: 700;
      }
    }
    .aboutGif {
      height: auto;
      width: 80%;
      border-radius: 999px;
    }
  }

  @include tablet {
    @include aboutMedia;
    .aboutOverviewTitle,
    .aboutSkillTitle {
      font-size: toSize(50);
    }
    .overviewContent,
    .skillContent {
      font-size: toSize(30);
    }
  }

  @include mobileLandscape {
    @include aboutMedia;
    .aboutOverviewTitle,
    .aboutSkillTitle {
      font-size: toSize(70);
    }
    .overviewContent,
    .skillContent {
      font-size: toSize(40);
    }
  }

  @include mobilePortrait {
    @include aboutMedia;
    .aboutOverviewTitle,
    .aboutSkillTitle {
      font-size: toSize(80);
    }
    .overviewContent,
    .skillContent {
      font-size: toSize(45);
    }
  }
}
