@import '../../config/globalStyles.scss';
@import '../../config/utils';

.backArrow {
  width: toSize(80);
  z-index: 999;
  position: fixed;
  top: 50px;
  cursor: pointer;
}

.backVideo {
  width: 100%;
  position: absolute;
  filter: brightness(50%);
}

.backPath {
  background: linear-gradient(
    0deg,
    #fefdf9 60.15%,
    rgba(183, 183, 183, 0.144) 100%
  );
  width: 100%;
  height: toSize(2400);
  position: relative;
  top: 0;
  background-size: cover;
  padding: 0 toSize(120);

  .detailTitle {
    width: 100%;
    height: toSize(1080);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: toSize(-100);
    img {
      width: toSize(145);
    }
    h1 {
      font-family: 'LEMON MILK';
      font-size: toSize(100);
      font-weight: 700;
      margin: toSize(60) 0 toSize(35) 0;
    }
    p {
      font-family: 'crima';
      font-size: toSize(36);
      margin: 0;
    }
  }

  .moreInfoSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;

    & > div:first-child {
      display: flex;
      height: fit-content;
      align-items: flex-end;

      h1 {
        font-family: 'LEMON MILK';
        font-size: toSize(100);
        font-weight: 700;
        margin: 0;
      }

      p {
        font-family: 'Pretendard';
        font-size: toSize(26);
        font-weight: 500;
        margin-left: toSize(30);
      }
    }

    & > div:nth-child(2) {
      display: flex;
      align-items: center;
    }
  }

  .workInfo {
    color: black;
    margin-right: toSize(140);
    width: toSize(680);
    display: flex;

    .infoName {
      font-size: toSize(24);
      font-family: 'Pretendard';
      font-weight: 700;
      margin: toSize(40) 0 toSize(20) 0;
    }

    & > div > div > div {
      font-family: 'Pretendard';
      font-size: toSize(20);
      display: flex;

      p {
        width: toSize(130);
        height: toSize(35);
        background-color: #d9d9d9;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 toSize(10);

        &:hover {
          background-color: #4cafa9;
          color: white;
          font-weight: 500;
        }
      }
    }
  }

  .workGif {
    .imac {
      width: toSize(830);
      position: absolute;
      z-index: 1;
    }
    .imacGif {
      background-size: cover;
      width: toSize(830);
      height: toSize(440);
      position: relative;
      margin-top: toSize(30);
    }
    .BEATBAYgif {
      background-image: url('../../asset/beatbay_imac.gif');
    }
    .MEALSACgif {
      background-image: url('../../asset/mealsac_imac.gif');
    }
    .PORTFOLIOgif {
      background-image: url('../../asset/portfolio_imac.gif');
    }
    .AH-WHEWgif {
      background-image: url('../../asset/ahwhew_imac.gif');
    }
  }
}

.eclipse {
  height: 10vh;
  background-color: white;
  clip-path: ellipse((50% 60% at 50% 0%));
}

.moreDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-family: 'LEMON MILK';
    text-decoration: underline;
    margin: toSize(160);
    font-size: toSize(48);
  }
}

.detailContainer footer {
  height: toSize(300);
  font-family: 'crima';
  font-size: toSize(20);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a7a7a7;

  p {
    cursor: pointer;
    width: toSize(200);
    text-align: center;
    height: toSize(150);

    &:hover {
      color: white;
    }
  }
}

@mixin workDetailMedia {
}

@include tablet {
  @include workDetailMedia;
}
