/*반응형 화면 크기*/
$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;

/* 브라우저 크기가 480px 이하일 때 */
@mixin mobilePortrait {
  @media (max-width: $mobile) {
    @content;
  }
}

/* 브라우저 크기가 480 이상, 768px 이하일 때 */
@mixin mobileLandscape {
  @media (min-width: $mobile) and (max-width: $tablet) {
    @content;
  }
}

/* 브라우저 크기가 768 이상, 1280 이하일 때 */
@mixin tablet {
  @media (min-width: $tablet) and (max-width: $desktop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@function toSize($size) {
  $calculatedSize: ($size / 1920) * 100vw;
  @return $calculatedSize;
}
