/*반응형 화면 크기*/
$mobile: 481px;
$tablet: 768px;
$desktop: 1280px;

/*브라우저 크기가 480px 이하일때*/
@mixin mobilePortrait {
  @media (max-width: $mobile-1) {
    @content;
  }
}

/*브라우저 크기가 480이상, 768px 이하일때*/
@mixin mobileLandscape {
  @media (min-width: $mobile) and (max-width: $tablet-1) {
    @content;
  }
}

/*브라우저 크기가 768 이상, 1280 이하일때*/
@mixin tablet {
  @media (min-width: $tablet) and (max-width: $desktop-1) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@function toSize($size) {
  $calculatedSize: ($size / 1920) * 100;
  @return #{$calculatedSize * 1vw};
}
