@import '../../config/globalStyles.scss';

.otherFolder {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  cursor: pointer;

  .folderBack {
    position: relative;
    div {
      background-color: #455f62;
    }
    div:first-child {
      width: toSize(120);
      height: toSize(20);
      border-radius: toSize(20) toSize(20) 0 0;
    }
    div:nth-child(2) {
      width: toSize(240);
      height: toSize(190);
      border-radius: 0 toSize(20) toSize(20) toSize(20);
    }
  }

  .folderFront {
    position: absolute;
    width: toSize(240);
    height: toSize(150);
    z-index: 2;
    border-radius: toSize(20);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #659096;
  }

  .folderThumbnail {
    width: toSize(220);
    z-index: 1;
    position: absolute;
    bottom: toSize(50);
    transition: bottom 0.5s ease;
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.34);
  }

  &:hover {
    .folderThumbnail {
      bottom: toSize(130);
    }
  }
}

.folderInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: toSize(10);
  font-size: toSize(18);
  p {
    margin: 0;
    font-family: 'PyeongChang';
    font-weight: 700;
  }
}
