@import '../../config/globalStyles.scss';
@import '../../config/utils';

.designSection {
  grid-template-columns: toSize(50) toSize(1200) toSize(50);
  align-items: center;
  justify-items: center;
}

.designList {
  padding: toSize(120) 0;
  width: toSize(1180);
}

.prev,
.next {
  cursor: pointer;
  img {
    width: toSize(20);
    margin-bottom: toSize(70);
  }
}
