@import "../../config/globalStyles.scss";
@import "../../config/utils";

.othersSection {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: auto;
  padding: 10vw;
  padding-right: 0;

  & > div {
    padding: 20px;
  }
}

@mixin otherMedia {
  .othersSection {
    width: 100vw;
  }
}

@include tablet {
  @include otherMedia;
}

@include mobileLandscape {
  @include otherMedia;
}

@include mobilePortrait {
  @include otherMedia;
}
