@import '../../config/globalStyles.scss';
@import '../../config/utils';

.othersSection {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  margin: auto;
  padding: 10vw;
  padding-right: 0;

  & > div {
    margin: 20px;
  }
}
