@import '../../../config/globalStyles.scss';

.workContainer section {
  height: 100vh;
  height: var(--vh);
  padding: toSize(160) toSize(390);
  display: grid;
  overflow: hidden;
}

.webList {
  display: grid;
  grid-template-columns: toSize(140) toSize(845) toSize(140);
  grid-template-rows: toSize(70) auto;
  border-bottom: solid 1px #7a7a7a;
  margin-top: toSize(20);
  padding-bottom: toSize(40);
  cursor: pointer;
  transition: 0.3s color;
  h1 {
    font-family: 'PyeongChangPeace';
    font-size: toSize(48);
    margin: 0;
  }
  h1:first-child {
    font-weight: 400;
  }
  p {
    font-family: 'PyeongChang';
    font-size: toSize(18);
    margin: 0;
  }
  p:nth-of-type(2) {
    grid-column: 2 / 3;
  }
  &:hover {
    color: #4cafa9;
  }
}
