@import '../../config/globalStyles.scss';
@import '../../config/utils';

.designCard {
  width: toSize(265);
  margin-left: toSize(30);
  white-space: nowrap;
  cursor: pointer;
  position: relative;

  .cardHover {
    position: absolute;
    z-index: 1;
    font-family: 'LEMON MILK';
    font-size: toSize(50);
    width: toSize(265);
    height: toSize(380);
    clip-path: ellipse(50% 50% at 50% 50%);
    background-color: transparent;
    transition: background-color 0.5s ease, rotate 0.5s ease;
    p {
      rotate: 275deg;
      margin-top: 60%;
      text-align: center;
      color: transparent;
      transition: color 0.5s ease;
    }
  }
  .cardImg {
    width: toSize(265);
    height: toSize(380);
    object-fit: cover;
    border-radius: toSize(20);
    position: relative;
    transition: clip-path 0.5s ease, rotate 0.5s ease;
  }
  .cardText {
    color: #7a7a7a;
    text-align: center;
    font-family: 'PyeongChang';
    font-weight: 400;
    font-size: toSize(20);
    margin-top: toSize(20);
    transition: color 0.5s ease, font-weight 0.5s ease;
    p {
      margin: toSize(5);
    }
  }

  &:hover {
    .cardHover {
      background-color: rgba(26, 81, 77, 0.628);
      rotate: 30deg;
      p {
        color: white;
      }
    }
    .cardImg {
      clip-path: ellipse(50% 50% at 50% 50%);
      rotate: 30deg;
    }
    .cardText {
      color: #fff;
      font-weight: 700;
    }
  }
}

// 모달
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(202, 202, 202, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalMain {
  display: flex;
  flex-direction: column;
  align-items: center;

  .modalImg {
    border: none;
    max-height: 70vh;
    max-width: 80vw;
  }
  button {
    font-size: toSize(24);
    width: toSize(150);
    height: toSize(50);
    margin: toSize(20);
    border-radius: toSize(20);
    background-color: #548b88;
    color: #fff;
    cursor: pointer;
  }
}

.modal-enter-animation {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.modal-entered {
  opacity: 1;
  transform: scale(1);
}
